config/db.inc
cache/
log/
lib/model/om/
lib/vendor/
lib/filter/base/
lib/form/base/
lib/model/map/
data/
test/
web/uploads/
web/sf*
.svn
plugins/sfGuardPlugin/lib/model/om/
plugins/sfGuardPlugin/lib/filter/base/
plugins/sfGuardPlugin/lib/form/base/
plugins/sfGuardPlugin/lib/model/map/
plugins/sfSimpleBlogPlugin/lib/filter/base/
plugins/sfSimpleBlogPlugin/lib/form/base/
plugins/sfSimpleBlogPlugin/lib/model/om/
plugins/sfSimpleBlogPlugin/lib/model/map/
plugins/sfSimpleForumPlugin/lib/filter/base/
plugins/sfSimpleForumPlugin/lib/form/base/
plugins/sfSimpleForumPlugin/lib/model/om/
plugins/sfSimpleForumPlugin/lib/model/map/
plugins/sfSocialPlugin/lib/filter/base/
plugins/sfSocialPlugin/lib/form/base/
plugins/sfSocialPlugin/lib/model/om/
plugins/sfSocialPlugin/lib/model/map/
